@font-face {
    font-family: Circular;
    src: url(../fonts/CircularStd-Book.otf);
}

html,
body {
	height: 100%;
}

body {
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  	font-weight: normal;
  	display: -ms-flexbox;
  	display: -webkit-box;
  	-ms-flex-align: center;
  	-ms-flex-pack: center;
  	-webkit-box-align: center;
  	align-items: center;
  	-webkit-box-pack: center;
  	justify-content: center;
  	padding-top: 50px;
  	padding-bottom: 300px;
  	background-color: #f8f8f8;
  	color: #333;
}

h1, h2, h3, p, span, button, input {
	font: 14px Circular,"Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 60px;
}

label {
	font-size: 16px;
}

a:hover {
  	color: #00B7FF;
  	text-decoration: none;
}

a {
	text-decoration: none;
	color: #333;
}

.glyphicon {
	padding-right: 10px;
}

.navbar-brand {
	padding-right: 35px;
	margin-left: 15px;
}

.jumbotron {
	margin-top: 20px;
	padding: 20px 20px;
	text-align: center;
}

.btn {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 18px;
}

input {
	padding: 10px 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

.divider {
	height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.down {
	display:block;
	max-width: 160px;
	padding: 5px 0;
	text-align: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;"
	margin-left: auto;
	margin-right: auto;
}

.down li p {
	display: block;
	padding: 3px 20px;
	margin-bottom: 0px;
	clear: both;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333;
	white-space:
	nowrap;
}